<% filmtheme.films.each do |film| %>
  <div class='film'>
    <%= image_tag(film.photo_url, alt: '#{film.title} film photo') %>
    <h2><%= film.title %></h2>
    <p><%= film.director.first_name + ' ' + film.director.try(:last_name).to_s %></p>
    <p>
      <% if film.comment.try(:description) %>
        <%= film.comment.description %>
      <% end %>
      <% if film.comment.try(:warning) %>
        <span><i class='fa fa-exclamation-circle' aria-hiden='true'></i> <%= film.comment.warning %></span>
      <% end %>
      <% if film.comment.try(:music_title) && film.comment.try(:music_url) %>
        <span> <a href='<%= film.comment.music_url %>' title='<%= film.comment.music_title %>' target='_blank'><i class='fa fa-music fa-big' aria-hiden='true'></i></a></span>
      <% end %>
      <% if film.comment.try(:video_url) %>
        <span> <a href='<%= film.comment.video_url %>' target='_blank'><i class='fa fa-video-camera fa-big' aria-hiden='true'></i></a></span>
      <% end %>
    </p>
  </div>
<% end %>
